body {
  margin: 0;
  padding: 0;
  background-color: rgb(50, 50, 50);
  color: #fff;

}

#focusmusics {
  display:flex;
}

.focusmusic {
  border-radius: 50%;
}

#focusmusics div {
  text-align: center;
  margin: 10px;
}

#focusmusics a {
  color: #fff;
}

#addtime-interval {
  display: none;
}

#focus-timer-display {
  text-align: center;
}

#interval-timer-display {
  text-align: center;
  display: none;
}

.timer-display {
  font-size: 28px;
}

.timer-range {
  width: 100%;
}

.timer-button {
    display: inline-block;
    margin: 0px 10px 10px;
    width: 75px;
    height: 50px;
    border-radius: 40px;
    background: skyblue;
    text-align:center;
    line-height: 50px;
    font-size: 20px;
    z-index: 1;
}

#start {
  width: 100px;
}

#stops {
  width: 100px;
}

#reset {
  width: 100px;
}